<p>Courses:</p>
  <div class = "row">
    <div class = "col-sm-12 col-md-4 col-lg-2" *ngFor="let course of courses">

        <div class="card mb-4">
          <img class="card-img-top"
               src="https://picsum.photos/200/200"
               alt="Card image cap"/>
          <div class="card-body">
            <!--<Link to={`/course/${course.id}`}>-->
            <h5 class="card-title">{{course.title}}</h5>
            <!--</Link>-->
            <!--<Link className="btn btn-primary"-->
            <!--to={`/course/${course.id}`}>Edit</Link>-->
            <!--<a onClick={() => deleteCourse(course)}-->
            <!--className="btn btn-danger">Delete</a>-->
          </div>
        </div>

      </div>

  </div>

