<div className="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Title
        <!--<button type="button" onClick={(event) =>this.titleChangedCourse()}-->
        <!--className="far fa-edit btn"-->
        <!--data-dismiss="alert"/>-->
      </h3>
    </div>

    <ul class="list-unstyled components">
      <p>Modules</p>
      <div class="row">
        <div class="col-md-8">
          <input type="text"
                 id="newModule"
                 placeholder="Add Module"
                 class="form-control" />
          <!--onChange={this.changeModuleName}-->
        </div>

        <div class="col-md-4 float-right">
          <!--<button class="fa fa-2x fa-plus btn-primary"-->
          <!--aria-hidden="true"-->
          <!--onClick={this.addModule}-->
          <!--&gt;</button>-->
        </div>

      </div>
      <br/>

      <!--<ModuleList course={this.state.course}-->
      <!--selectModule ={this.selectModule}-->
      <!--selectedModule = {this.state.module}-->
      <!--delModule = {this.deleteModule}-->
      <!--titleChanged = {this.titleChanged}-->
      <!--moduleColor={this.moduleColor}-->
      <!--/>-->
      <app-module-list-component></app-module-list-component>
    </ul>
  </nav>
<br/><br/>
  <div class="row">
    <div class="col-4 "></div>
    <div class="col-8 ">
      <div class="row">
        <ul class="nav nav-tabs">
          <app-lesson-tab-component></app-lesson-tab-component>
        </ul>
      </div>
    </div>
  </div>
</div>
