
<!--<div class={moduleColor(module)}-->
<!--onClick={() => selectModule(module)} >-->
<div *ngFor="let module of modules">
  <div class="alert alert-dismissible alert-success">
    <div class="row">
      <div class="col-8">
        <a href="#"
           class="alert-link">{{module.title}}</a>.
      </div>
      <div class="col-2">
        <button type="button" class="fa fa-trash-alt btn" data-dismiss="alert"></button>
      </div>
      <div class="col-2">
        <button type="button"
                class="fa fa-edit btn"
                data-dismiss="alert"></button>
        <!--onClick={() => editModule(module)}-->
      </div>
    </div>
  </div>
</div>
